@import '../core/_core.scss';

.color__input {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: $border-lines solid 1px;
  color: $main-text;
  font-family: $font-text;

  &--label {
    margin-top: -10px;
    margin-bottom: 7px;
  }

  &--input {
    height: 30px;
    border: solid 1px $border;
    padding-left: 3px;
    margin-bottom: 30px;
  }
}
