//fonts
$font-title: 'Merriweather', serif;
$font-text: 'Open Sans', sans-serif;

//colours
$color-bg-1: #f5f5f5;
$color-bg-2: #ffffff;

$icons: #c7361c;
$main-text: #114e4e;
$smaller-text: #54585a; //h5 en main
$placeholder: #c5c5c5;
$border: #a2deaf;

$shadows: #00000052;
$footer-text: #6b6b6b;
$border-lines: #d8d8d8;
$button-1: #438792;
$button-2: #d5d5d5;
$button-hover: #37cba1;
$black-20: rgba(0, 0, 0, 0.2);
$blur: rgba(0, 0, 0, 0.35);
